<div class="fluid-container">
    <div class="card-body" >
    
        <table class="table table-bordered table-striped " style="background-color: #e3f2fd;">
            <thead>
                <th colspan="5" class=" text-center">Product Details</th>
            </thead>
            
            <tr>
                <td >Product Name</td>
                <td >Product Brand</td>
                <td >Product Rate</td>
                <td >Product Quantity</td>
                <td >Action</td>
            </tr>

            <tbody>
                <tr *ngFor="let pd in list">
                    <td>{{pd.name}}</td>
                    <td>{{pd.description}}</td>
                    <td>{{pd.price}}</td>
                    <td>{{pd.hotel}}</td>
                    <td><i class="far fa-trash-alt fa-lg text-danger"></i></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
